.container {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0px auto;
}

button {
    display: block;
    margin: 5px auto;
    padding: 10px;
}

.box {
    background-color: rgb(183, 222, 255);
    box-sizing: border-box;
}

.hoverBox {
    background-color: rgb(255, 119, 119);
    box-sizing: border-box;
}